<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.auth.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.user.auth.bean.DO.SysUserDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="deptId" jdbcType="INTEGER" property="deptid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, salt, phone, avatar, deptId, state, author, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.user.auth.bean.DO.SysUserDo">
    insert into sys_user (id, username, password, 
      salt, phone, avatar, 
      deptId, state, author, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{deptid,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.user.auth.bean.DO.SysUserDo">
    update sys_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        deptId = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="baseQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != username">
         and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="null != password">
         and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="null != salt">
         and salt = #{salt,jdbcType=VARCHAR}
      </if>
      <if test="null != phone">
         and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="null != avatar">
         and avatar = #{avatar,jdbcType=VARCHAR}
      </if>
      <if test="null != deptid">
         and deptId = #{deptid,jdbcType=INTEGER}
      </if>
      <if test="null != state">
         and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="null != author">
         and author = #{author,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != updateTime">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="selectByObject" parameterType="com.user.auth.bean.DO.SysUserDo" resultMap="BaseResultMap">
    select  * from sys_user
    <include refid="baseQuery" />
  </select>
  <select id="listByObject" parameterType="com.user.auth.bean.DO.SysUserDo" resultMap="BaseResultMap">
    select  * from sys_user
    <include refid="baseQuery" />
  </select>
</mapper>